<button style="display:none;" ng-click="removeLife()" id="sublife">Sub life</button>
<div id="grammarReadWizard" class="swMain" akirawizard>

    <ul class="hide">
        <li ng-repeat="(key, value) in data">
            <a ng-href="#step-{{key}}" click="partId={{key}}">
                <label class="stepNumber">
                    <span>&nbsp;{{key}}</span>
                </label>
            </a>
        </li>
    </ul>

    <!-- Life wrapper -->
    <akrlife ret="../../view/totaln5" progress="{{step/data.length*100}}" life="{{gameObject.life}}"></akrlife>

    <div ng-repeat="(key,val) in data" id="step-{{key}}">
        <div class="wrapper">
            <div id="question-wrapper ">
                <div class="row center">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2>{{val.questhira}}</h2>
                    </div>
                </div>
            </div>

            <div id="user-input-wrapper">
                <div class="row">
                    <div class="right col-md-1 col-sm-1 col-xs-1 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                        <span class="first"  ng-class="{'actived': 49==keyCode}"></span>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <div class="ans-opt" ng-click="keyPress(49)" ng-class="{'selected': 49==keyCode}">
                            {{answers[key][0]}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="right col-md-1 col-sm-1 col-xs-1 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
                        <span class="second" ng-class="{'actived': 50==keyCode}"></span>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <div class="ans-opt" ng-click="keyPress(50)" ng-class="{'selected': 50==keyCode}">
                            {{answers[key][1]}}
                        </div>
                    </div>
                </div>
            </div>

            <div id="correct-answer-wrapper">
                <div class="row hide">
                    <div class="col-md-12 col-sm-12 col-xs-12">{{val.answer1}}
                    </div>
                </div>
            </div>


            <!-- Answer wrapper-->
            <div id="aki-answer-wrapper">
                <div class="row mess-holder-{{key}}">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="row hide" id="mess-{{key}}">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <span class="correct-child">
                                    <span class="test-circle"></span>
                                </span>
                                <span class="failed-child">
                                    <i class="fa fa-times fa-4x"></i>
                                </span>
                                <span>
                                    A: {{val.answer1}} {{val.vietnamese}} {{val.english}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div ng-switch on="stage">
                            <div ng-switch-when="0">
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                            <div ng-switch-when="1">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.check" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-when="2">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.next" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-default>
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).keydown(function(e) {
    if (13 == e.keyCode) {
        angular.element("#grammarReadWizard").scope().enterPress();
    } else if ([49, 50, 51].indexOf(e.keyCode) != -1) {
        angular.element("#grammarReadWizard").scope().keyPress(e.keyCode);
    }
    changeLang();
});
</script>
