<button style="display:none;" ng-click="removeLife()" id="sublife">Sub life</button>
<div id="grammarTranslateWizard" class="swMain" akirawizard>
    <ul class="hide">
        <li ng-repeat="(key, value) in data">
            <a ng-href="#step-{{key}}" click="partId={{key}}">
                <label class="stepNumber">
                    <span>&nbsp;{{key}}</span>
                </label>
            </a>
        </li>
    </ul>

    <!-- Life wrapper -->
   <akrlife ret="../../view/totaln5" progress="{{step/data.length*100}}" life="{{gameObject.life}}"></akrlife>

    <div ng-repeat="(key,val) in data" id="step-{{key}}">
        <div class="wrapper">
            <div id="question-wrapper" class="center">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>{{val.vietnamese}}</h3>
                    </div>
                </div>

                <div class="row" style="min-height: 120px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <span ng-repeat="(anskey,ansval) in answers[key]" id="opt-{{key}}-{{anskey}}" class="drag-ans" draggable="true" ondragstart="drag(event)" ng-bind="ansval">
                        </span>
                    </div>
                </div>
            </div>

            <div id="user-input-wrapper">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="drop-zone" id="input-{{key}}" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                    </div>
                </div>
            </div>

            <div id="correct-answer-wrapper">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 center">
                        <span ng-bind="val.hiragana"></span>
                    </div>
                </div>
            </div>

            <div id="aki-answer-wrapper">
                <div class="row mess-holder-{{key}}">
                    <!-- Prepare message holder-->
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="row hide" id="mess-{{key}}">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <span class="correct-child">
                                    <span class="test-circle"></span>
                                </span>
                                <span class="failed-child">
                                    <i class="fa fa-times fa-4x"></i>
                                </span>
                                <span>
                                    {{val.hiragana}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div ng-switch on="stage">
                            <div ng-switch-when="0">
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                            <div ng-switch-when="1">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.check" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-when="2">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.next" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-default>
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text/html", ev.target.id);
}

function drop(ev) {
    angular.element("#grammarTranslateWizard").scope().stage = 1;
    angular.element("#grammarTranslateWizard").scope().$apply();
    changeLang();

    ev.preventDefault();
    var data = ev.dataTransfer.getData("text/html");
    if (ev.toElement.className == "drop-zone") {
        ev.target.appendChild(document.getElementById(data));
    }
}
$(document).keydown(function(e) {
    if (13 == e.keyCode) {
        angular.element("#grammarTranslateWizard").scope().enterPress();
    }
    changeLang();
});
</script>
