div
<div class="row" id="game-scope">
    <div class="col-md-9 col-sm-9 col-xs-9">
        <h2>
            <span>N5 TEST</span>-
            <span data-i18n="{{title}}"></span>
        </h2>

        <div id="quiz">
            <ul>
                <li ng-repeat="(key, value) in dataset">
                    <a href="#tabs-{{key + 1}}">
                        <span data-i18n="common.part"></span>
                        <span ng-bind="key + 1"></span>
                    </a>
                </li>
            </ul>

            <div id="tabs-{{key +1 }}" ng-repeat="(key, value) in dataset">
                <div class="quest-content" ng-repeat="(k, v) in value">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <span ng-bind="counter(dataset,key,k)"></span>
                                <span ng-bind="v.question"></span>
                            </p>
                        </div>
                    </div>
                    <ol class="ans-options">
                        <li ng-bind="v.answer0"></li>
                        <li ng-bind="v.answer1"></li>
                        <li ng-bind="v.answer2"></li>
                        <li ng-bind="v.answer3"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs 3">
        <div id="answer" class="wrapper">
            <akranswersheet></akranswersheet>
        </div>
    </div>
</div>


<script type="text/javascript">
setTimeout(function() {
    $("#quiz").tabs();
}, 200);
</script>
