<button ng-click="removeLife()" id="sublife" style="display:none;"></button>
<button ng-click="check()" id="check" style="display:none;"></button>
<div id="connectWizard">
    <!-- Life wrapper -->
    <span class="row" id="akr-life-wrapper">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{step/5*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{step/5*100}}%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 right">
            <span class="life-{{gameObject.life}}" id="life-wrapper">
                <i class="fa fa-heart fa-3x"></i>
                <i class="fa fa-heart fa-3x"></i>
                <i class="fa fa-heart fa-3x"></i>
            </span>
        </div>
    </span>

    <div class="stepContainer">
        <div class="wrapper row">
            <div class="col-md-6">
                <div class="row ngRepeatShuffle" ng-repeat="value in data | limitTo:5">
                    <div class="col-md-12 hira-wrapper">
                        <span id="hira-{{value.id}}" class="couple-{{value.id}}" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {{value.kanji}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row ngRepeatShuffle" ng-repeat="value in data | limitTo:5">
                    <div class="col-md-12 vi-wrapper">
                        <span id="vie-{{value.id}}" class="couple-{{value.id}}" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)">
                            {{value.hiragana}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css" media="screen">
span.q,
span.a {
    width: 200px;
    height: 20px;
    border: 1px solid;
    margin: 6px;
}
</style>
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text/html", ev.target.id);
}

function drop(ev) {

    if (($('#' + ev.dataTransfer.getData("text/html")).attr('class') === $(ev.target).attr('class')) && ($('#' + ev.dataTransfer.getData("text/html")).attr('id') != $(ev.target).attr('id'))) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text/html");
        ev.target.style.visibility = "hidden";
        document.getElementById(data).style.visibility = "hidden";
        $("#check").trigger("click");
    } else {
        $("#sublife").trigger("click");
    }
}
changeLang();
</script>
