<div id="pictureWizard" class="swMain" akirawizard enablestep="false">
    <!-- Step navigation -->
    <ul class="hide">
        <li ng-repeat="(key, value) in data">
            <a ng-href="#step-{{key}}" click="partId={{key}}">
                <label class="stepNumber">
                    <span>&nbsp;{{key}}</span>
                </label>
            </a>
        </li>
    </ul>

    <!-- Life wrapper -->
    <span class="row" id="akr-life-wrapper">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{step/data.length*100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{step/data.length*100}}%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" id="life-wrapper">
            <span class="life-{{gameObject.life}}">
                <i class="fa fa-heart fa-3x"></i>
                <i class="fa fa-heart fa-3x"></i>
                <i class="fa fa-heart fa-3x"></i>
            </span>
        </div>
    </span>

    <!-- Step content -->
    <div ng-repeat="(key,val) in data" id="step-{{key}}">
        <div class="wrapper">
            <div class="test">

                <!-- Question wrapper -->
                <div id="question-wrapper">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 center">
                            <!-- <h2>{{val.vietnamese}}</h2> -->
                            <h3>{{val.kanji}}</h3>
                        </div>
                    </div>
                </div>

                <!-- User answer wrapper -->
                <div id="user-input-wrapper">
                    <div id="{{key}}" class="picture-wrapper row">
                        <div class="col-md-4 col-sm-4 col-xs-4" ng-class="{'selected': 49==keyCode}" ng-click="keyPress(49)">
                            <img ng-src="../../data/kanjin5/kanjin5_image_v2.0/{{choices[key][0]}}.png" class="img-thumbnail" id="img-{{key}}-0">
                            <h3 class="first">
                                {{choices[key][0]}}
                            </h3>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4" ng-class="{'selected': 50==keyCode}" ng-click="keyPress(50)">
                            <img ng-src="../../data/kanjin5/kanjin5_image_v2.0/{{choices[key][1]}}.png" class="img-thumbnail" id="img-{{key}}-1">
                            <h3 class="second">
                                {{choices[key][1]}}
                            </h3>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4" ng-class="{'selected': 51==keyCode}" ng-click="keyPress(51)">
                            <img ng-src="../../data/kanjin5/kanjin5_image_v2.0/{{choices[key][2]}}.png" class="img-thumbnail" id="img-{{key}}-2">
                            </span>
                            <h3 class="third">
                                {{choices[key][2]}}
                            </h3>
                        </div>
                    </div>
                </div>

                <!-- Correct answer wrapper -->
                <div id="correct-answer-wrapper">
                    <div class="row hide">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            {{val.vietnamese}}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Custom navigation wrapper-->
            <div id="aki-answer-wrapper" ng-class="{'check' : 1== stage}">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="row hide" id="mess-{{key}}">
                            <div class="col-md-4 col-xs-4 col-sm-4">
                                <span class="correct-child">
                                    <span class="test-circle"></span>
                                </span>
                                <span class="failed-child">
                                    <i class="fa fa-times fa-4x"></i>
                                </span>
                            </div>
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <span class="hint">{{val.hiragana}}</span>
                                <span class="hint">{{val.kanji}}</span>
                                <span class="hint">{{val.vie}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div ng-switch on="stage">
                            <div ng-switch-when="0">
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                            <div ng-switch-when="1">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.check" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-when="2">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.next" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-default>
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
$(document).keydown(function(e) {
    console.info(angular.element("#pictureWizard").scope());
    if (13 == e.keyCode) {
        angular.element("#pictureWizard").scope().enterPress();
    } else if ([49, 50, 51].indexOf(e.keyCode) != -1) {
        angular.element("#pictureWizard").scope().keyPress(e.keyCode);
    }
    changeLang();
});
</script>
