<button style="display:none;" ng-click="removeLife()" id="sublife">Sub life</button>
<div id="learnWizard" class="swMain akiHide" akirawizard enablestep="false" akrautoplayaudio="true" akrfocus="true">
    <!-- Step navigation -->
    <ul>
        <li ng-repeat="(key, value) in data">
            <a ng-href="#step-{{key}}" click="partId={{key}}">
                <label class="stepNumber">
                    <span>&nbsp;{{key}}</span>
                </label>
            </a>
        </li>
    </ul>

    <!-- Life wrapper -->
    <akrlife progress="{{step/data.length*100}}" life="{{gameObject.life}}"></akrlife>

    <!-- Step content -->
    <div ng-repeat="(key,val) in data" id="step-{{key}}">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 selected">
                    <!-- Question wrapper -->
                    <div id="question-wrapper" ng-click="playSound(key,true)">
                        <audio controls id="{{key}}" style="display:none;">
                            <source type="audio/mpeg">
                                Your browser does not support the audio element.
                        </audio>
                        <i class="fa fa-volume-up fa-2x write-btn-play"></i>
                        <span class="write-control img-responsive" ng-bind="val.kanji">
                            <!-- {{val.kanji}} -->
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 selected">
                    <!-- User answer wrapper -->
                    <div id="user-input-wrapper">
                        <div class="row none-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12 none-padding">
                                <input class="form-control write-control" id="input-{{key}}" placeholder="TYPING ROMAJI" ng-keyup="keyPress(key,$event.keyCode)" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Correct answer wrapper -->
            <div id="correct-answer-wrapper">
                <div class="row hide">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{val.romaji}}
                    </div>
                </div>
            </div>

            <!-- Navigation wrapper-->
            <div id="aki-answer-wrapper" ng-class="{'check': 1 == stage}">
                <div class="row mess-holder-{{key}}">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <table class="table top-none hide">
                            <tr>
                                <td>
                                    <span class="correct-child">
                                        <span class="test-circle"></span>
                                    </span>
                                    <span class="failed-child">
                                        <i class="fa fa-times fa-4x"></i>
                                    </span>
                                </td>
                                <td>
                                    <div>
                                        <span class="hint">{{val.hiragana}}</span>

                                    </div>
                                    <div>
                                        <!-- <span class="hint">{{val.vietnamese}}</span> -->
                                        <multilang obj="val"></multilang>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <div ng-switch on="stage">
                            <div ng-switch-when="0">
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                            <div ng-switch-when="1">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.check" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-when="2">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.next" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-default>
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
// $(document).keydown(function(e) {
//     if (13 == e.keyCode) {
//         angular.element("#learnWizard").scope().enterPress();
//     }
//     changeLang();
// });
// kanjiDict();

var scope = angular.element("#learnWizard").scope();
KeyboardJS.on('enter', function() {
    scope.enterPress();
}, function() {
    scope.$apply();
    changeLang();
});

</script>
