<div id="subtopicWizard" class="swMain akiHide" akirawizard enablestep="true" step="{{partId}}">
    <span class="header">
        <h2 data-i18n="common.lesson"></h2>
        <h2>Hiragana
            <span ng-bind="lessonId"></span>
        </h2>
    </span>
    <ul>
        <li ng-repeat="(key, value) in [1,2,3,4,5]">
            <a href="#step-{{value}}" ng-click="subtopicChanged(value)">
                <label class="stepNumber">
                    <span ng-switch on="isEnabled(value)">
                        <span ng-switch-when="true" ng-bind="value"></span>
                        <span ng-switch-when="false"><i class="fa fa-lock" data-toggle="tooltip" data-placement="bottom" title="{{value*10 - 10}} stars to unlock"></i>
                        </span>
                        <span ng-switch-default><i class="fa fa-lock" data-toggle="tooltip" data-placement="bottom" title="{{value*10 - 10}} stars to unlock"></i>
                        </span>
                    </span>
                </label>
            </a>
        </li>
    </ul>

    <span id="star">
        <span class="number">
            <span ng-bind="kanaStar"></span>
            <i class="fa fa-star kana"></i>
        </span>
    </span>

    <div id="step-{{value}}" ng-repeat="(key,value) in [1,2,3,4,5]">
        <div class="row">
            <div class="col-md-4">
                <a ng-href="#/{{lessonId}}/{{value}}/learn" class="thumb">
                    <span data-i18n="common.learn"></span>
                    <span class="akira-circle">
                        <img ng-src="../../img/totaln5/subtopic/learn.png">
                    </span>
                </a>
                <span class="star-{{progress['kana'][lessonId][value][1]}} kana">
                    <i class="fa fa-star fa-3x"></i>
                    <i class="fa fa-star fa-3x"></i>
                    <i class="fa fa-star fa-3x"></i>
                </span>
            </div>
            <div class="col-md-4">
                <a ng-href="#/{{lessonId}}/{{value}}/picture" class="thumb">
                    <span data-i18n="common.picture"></span>
                    <span class="akira-circle">
                        <img ng-src="../../img/totaln5/subtopic/picture.png">
                    </span>
                </a>
                <span class="kana star-{{progress['kana'][lessonId][value][2]}}">
                    <i class="fa fa-star fa-3x "></i>
                    <i class="fa fa-star fa-3x "></i>
                    <i class="fa fa-star fa-3x "></i>
                </span>
            </div>
            <div class="col-md-4">
                <a ng-href="#/{{lessonId}}/{{value}}/word" class="thumb">
                    <span data-i18n="common.word"></span>
                    <span class="akira-circle">
                        <img ng-src="../../img/totaln5/subtopic/word.png">
                    </span>
                </a>
                <span class="kana star-{{progress['kana'][lessonId][value][3]}}">
                    <i class="fa fa-star fa-3x "></i>
                    <i class="fa fa-star fa-3x "></i>
                    <i class="fa fa-star fa-3x "></i>
                </span>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4  col-md-offset-2">
                <a ng-href="#/{{lessonId}}/{{value}}/connect" class="thumb">
                    <span data-i18n="common.connect"></span>
                    <span class="akira-circle">
                        <img ng-src="../../img/totaln5/subtopic/connect.png">
                    </span>
                </a>
                <span class="kana star-{{progress['kana'][lessonId][value][4]}}">
                    <i class="fa fa-star fa-3x "></i>
                    <i class="fa fa-star fa-3x "></i>
                    <i class="fa fa-star fa-3x "></i>
                </span>
            </div>
            <div class="col-md-4">
                <a ng-href="#/{{lessonId}}/{{value}}/write" class="thumb">
                    <span data-i18n="common.write"></span>
                    <span class="akira-circle">
                        <img ng-src="../../img/totaln5/subtopic/write.png">
                    </span>
                </a>
                <span class="kana star-{{progress['kana'][lessonId][value][5]}}">
                    <i class="fa fa-star fa-3x "></i>
                    <i class="fa fa-star fa-3x "></i>
                    <i class="fa fa-star fa-3x "></i>
                </span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    
</script>