<div id="pictureWizard" class="swMain akiHide kana" akirawizard enablestep="false">
    <!-- Step navigation -->
    <ul class="hide">
        <li ng-repeat="(key, value) in data">
            <a ng-href="#step-{{key}}" click="partId={{key}}">
                <label class="stepNumber">
                    <span>&nbsp;{{key}}</span>
                </label>
            </a>
        </li>
    </ul>

    <!-- Life wrapper -->
    <akrlife ret="../../view/totaln5" progress="{{step/data.length*100}}" life="{{gameObject.life}}"></akrlife>

    <!-- Step content -->
    <div ng-repeat="(key,val) in data" id="step-{{key}}">
        <div class="wrapper">
            <!-- Question wrapper -->
            <div id="question-wrapper">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 center">
                        <h2>{{val.vietnamese}}</h2>
                    </div>
                </div>
            </div>

            <!-- User answer wrapper -->
            <div id="user-input-wrapper">
                <div id="{{key}}" class="picture-wrapper row">
                    <div class="col-md-4 col-sm-4 col-xs-4" ng-class="{'selected': 49==keyCode}" ng-click="keyPress(49)">
                        <audio controls id="choices-{{key}}-0" style="display:none;">
                            <source type="audio/mpeg">
                                Your browser does not support the audio element.</source>
                        </audio>
                        <span class="img-responsive write-control">
                            {{choices2[key][0].hiragana}}
                        </span>
                        <h3 class="first">
                        </h3>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4" ng-class="{'selected': 50==keyCode}" ng-click="keyPress(50)">
                        <audio controls id="choices-{{key}}-1" style="display:none;">
                            <source type="audio/mpeg">
                                Your browser does not support the audio element.</source>
                        </audio>
                        <span class="img-responsive write-control">
                            {{choices2[key][1].hiragana}}
                        </span>
                        <h3 class="second">
                        </h3>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4" ng-class="{'selected': 51==keyCode}" ng-click="keyPress(51)">
                        <audio controls id="choices-{{key}}-2" style="display:none;">
                            <source type="audio/mpeg">
                                Your browser does not support the audio element.</source>
                        </audio>
                        <span class="img-responsive write-control">
                            {{choices2[key][2].hiragana}}
                        </span>
                        <h3 class="third">
                        </h3>
                    </div>
                </div>
            </div>
            
            <!-- Correct answer wrapper -->
            <div id="correct-answer-wrapper">
                <div class="row hide">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        {{val.hiragana}}
                    </div>
                </div>
            </div>

            <!-- Custom navigation wrapper-->
            <div id="aki-answer-wrapper" ng-class="{'check' : 1== stage}">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <div class="row hide" id="mess-{{key}}">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <span class="correct-child">
                                    <span class="test-circle"></span>
                                </span>
                                <span class="failed-child">
                                    <i class="fa fa-times fa-4x"></i>
                                </span>
                                <span class="hint">{{val.hiragana}}</span>
                                <span class="hint">{{val.romaji}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div ng-switch on="stage">
                            <div ng-switch-when="0">
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                            <div ng-switch-when="1">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.check" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-when="2">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.next" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-default>
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
// setTimeout(function() {
    $(document).keydown(function(e) {
        if (13 == e.keyCode) {
            angular.element("#pictureWizard").scope().enterPress();
        } else if ([49, 50, 51].indexOf(e.keyCode) != -1) {
            angular.element("#pictureWizard").scope().keyPress(e.keyCode);
        }
        changeLang();
    });
// }, 500);
</script>
