<style type="text/css" media="screen">
	span.q,span.a{
		width: 200px;
		height: 20px;
		border:1px solid;
		margin: 6px;
	}	
</style>
<script>
	var scope= angular.element($("#dashboard")).scope();
	console.log(scope);
	
	function allowDrop(ev) {
	    ev.preventDefault();
	}

	function drag(ev) {
	    ev.dataTransfer.setData("text/html", ev.target.id);
	}

	function drop(ev) {
		if($('#'+ ev.dataTransfer.getData("text/html")).attr('class') === $(ev.target).attr('class') ){
		    ev.preventDefault();
		    var data = ev.dataTransfer.getData("text/html");
		    ev.target.appendChild(document.getElementById(data));
		}else{
			alert("Failed! Scored minus");
		}
	}
</script>
<div class="row" ng-repeat="value in data | orderBy: reverse">
	<div class="col-md-6">
		<span id="hira-{{value.id}}" class="couple-{{value.id}}"  draggable ="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">
			{{value.hiragana}}
		</span>
	</div>
	<div class="col-md-6">
		<span id="vie-{{value.id}}" class="couple-{{value.id}}"  ondrop="drop(event)" ondragover="allowDrop(event)" draggable ="true" ondragstart="drag(event)">
			{{value.vie}}
		</span>
	</div>
</div>