<div id="listenWizard" class="swMain fuckingdirective">
<!-- 	<ul>
		 <li ng-repeat="(key, value) in data">
	        <a ng-href="#step-{{key}}" ng-click="partId={{key}}">
	          <label class="stepNumber">
	            <span>&nbsp;{{key}}</span>
	          </label>
	        </a>
	      </li>
	</ul>
	<span class="life-{{gameObject.life}}">
		<i class="fa fa-heart fa-3x"></i>
		<i class="fa fa-heart fa-3x"></i>
		<i class="fa fa-heart fa-3x"></i>
	</span> -->
	<div ng-repeat="key in data">
	{{key}}
		<!-- <audio controls ng-id="{{key}}" style="display:none;">
		  <source type="audio/mpeg" src="../../data/totaln5/1/1/4/audio/america.mp3">
			Your browser does not support the audio element.
		</audio>  -->
		<button type="btn btn-default" ng-click="test({{key.id}})">
			<i class="fa fa-play fa-4x"></i>
		</button>
		<!-- <input></input> -->
	</div>
</div>