<div id="listenWizard" class="swMain fuckingdirective">
	<ul>
		 <li ng-repeat="(key, value) in data">
	        <a ng-href="#step-{{key}}" ng-click="partId={{key}}">
	          <label class="stepNumber">
	            <span>&nbsp;{{key}}</span>
	          </label>
	        </a>
	      </li>
	</ul>
	<div id="step-{{key}}" ng-repeat="(key, value) in data">
		<!-- <img ng-src="../../data/totaln5/{{lessonId}}/{{partId}}/4/audio/america.mp3" alt="">
		<audio controls id="{{key}}" style="display:none;">
		  <source type="audio/mpeg" src="../../data/totaln5/{{lessonId}}/{{partId}}/4/audio/america.mp3">
			Your browser does not support the audio element.
		</audio>  -->{{key}}
		<button type="btn btn-default" onclick='document.getElementById()'>Play</button>
		<input></input>
	</div>
</div>
<script type="text/javascript">
  /*$('#listenWizard').smartWizard({
    enableAllSteps : true,
    includeFinishButton: false
  });*/

  /*$('#listenWizard .actionBar').hide();*/
</script> 