<div id="listenWizard" class="swMain akiradirective">
	<ul>
		 <li ng-repeat="(key, value) in data">
	        <a ng-href="#step-{{key}}" click="partId={{key}}">
	          <label class="stepNumber">
	            <span>&nbsp;{{key}}</span>
	          </label>
	        </a>
	      </li>
	</ul>
	<span class="life-{{gameObject.life}}">
		<i class="fa fa-heart fa-3x"></i>
		<i class="fa fa-heart fa-3x"></i>
		<i class="fa fa-heart fa-3x"></i>
	</span> 
	<div ng-repeat="(key,val) in data" id="step-{{key}}">
		<audio controls id="{{key}}" style="display:none;">
		  <source type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>  
		<div  ng-click="playSound(key)" class="btn-play">
			<i class="fa fa-play fa-4x" ></i>
		</div>
		<input class="form-control" id="input-{{key}}"></input>
		<input type="hidden" id="ans-{{key}}" value="{{val.hiragana}}">
	</div>
</div>

