<div id="topicWizard" class="swMain akiHide" akirawizard enablestep="true" step="{{partId}}">
    <ul>
        <li>
            <a href="#step-2" ng-click="subtopicChanged(1)">
                <label class="stepNumber">
                    <span data-i18n="common.part"></span>
                    <span>&nbsp;1</span>
                </label>
            </a>
        </li>
        <li>
            <a href="#step-3" ng-click="subtopicChanged(2)">
                <label class="stepNumber">
                    <span data-i18n="common.part"></span>
                    <span>&nbsp;2</span>
                </label>
            </a>
        </li>
        <li>
            <a href="#step-4" ng-click="subtopicChanged(3)">
                <label class="stepNumber">
                    <span data-i18n="common.part"></span>
                    <span>&nbsp;3</span>
                </label>

            </a>
        </li>
        <li>
            <a href="#step-5" ng-click="subtopicChanged(4)">
                <label class="stepNumber">
                    <span data-i18n="common.part"></span>
                    <span>&nbsp;4</span>
                </label>

            </a>
        </li>
    </ul>

    <span id="star">
        <span class="number">
            <span ng-bind="vocabstar"></span>
            <i class="fa fa-star vocab"></i>
        </span>
        <span class="number">
            <span ng-bind="grammarstar"></span>
            <i class="fa fa-star  grammar"></i>
        </span>
    </span>

    <div id="step-{{step}}" ng-repeat="step in [2,3,4,5]">
        <div class="wrapper">
            <table class="table center">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-3">
                                <label>
                                    <span data-i18n="common.lesson"></span>
                                    <span>&nbsp;{{(step*2-4)*3+1}}</span>
                                </label>
                                <a class="thumb" ng-click="check(degree(step*2-4)*3+1)">
                                    <img ng-src="../../img/totaln5/topic/{{(step*2-4)*3+1}}.png" alt="{{(step*2-4)*3+1}}" class="img-responsive">
                                </a>
                                <div class="progress vocab">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{vocabprogress[(step*2-4)*3+1]}}%;">
                                    </div>
                                </div>
                                <div class="progress grammar">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{grammarprogress[(step*2-4)*3+1]}}%;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    <span data-i18n="common.lesson"></span>
                                    <span>&nbsp;{{(step*2-4)*3+2}}</span>
                                </label>
                                <a class="thumb" ng-click="check((step*2-4)*3+2)">
                                    <img ng-src="../../img/totaln5/topic/{{(step*2-4)*3+2}}.png" alt="{{(step*2-4)*3+2}}" class="img-responsive">
                                </a>
                                <div class="progress vocab">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{vocabprogress[(step*2-4)*3+2]}}%;">
                                    </div>
                                </div>
                                <div class="progress grammar">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{grammarprogress[(step*2-4)*3+2]}}%;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    <span data-i18n="common.lesson"></span>
                                    <span>&nbsp;{{(step*2-4)*3+3}}</span>
                                </label>
                                <a ng-href="" class="thumb" ng-click="check((step*2-4)*3+3)">
                                    <img ng-src="../../img/totaln5/topic/{{(step*2-4)*3+3}}.png" alt="{{(step*2-4)*3+3}}" class="img-responsive">
                                </a>
                                <div class="progress vocab">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{vocabprogress[(step*2-4)*3+3]}}%;">
                                    </div>
                                </div>
                                <div class="progress grammar">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{grammarprogress[(step*2-4)*3+3]}}%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-2 col-md-offset-2">
                                <label>
                                    <span data-i18n="common.lesson"></span>
                                    <span>&nbsp;{{(step*2-4)*3+4}}</span>
                                </label>
                                <a ng-href="" class="thumb" ng-click="check((step*2-4)*3+4)">
                                    <img ng-src="../../img/totaln5/topic/{{(step*2-4)*3+4}}.png" alt="{{(step*2-4)*3+4}}" class="img-responsive">
                                </a>
                                <div class="progress vocab">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{vocabprogress[(step*2-4)*3+4]}}%;">
                                    </div>
                                </div>
                                <div class="progress grammar">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{grammarprogress[(step*2-4)*3+4]}}%;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    <span data-i18n="common.lesson"></span>
                                    <span>&nbsp;{{(step*2-4)*3+5}}</span>
                                </label>
                                <a ng-href="" class="thumb" ng-click="check((step*2-4)*3+5)">
                                    <img ng-src="../../img/totaln5/topic/{{(step*2-4)*3+5}}.png" alt="{{(step*2-4)*3+5}}" class="img-responsive">
                                </a>
                                <div class="progress vocab">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{vocabprogress[(step*2-4)*3+5]}}%;">
                                    </div>
                                </div>
                                <div class="progress grammar">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{grammarprogress[(step*2-4)*3+5]}}%;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    <span data-i18n="common.lesson"></span>
                                    <span>&nbsp;{{(step*2-4)*3+6}}</span>
                                </label>
                                <a ng-href="" class="thumb" ng-click="check((step*2-4)*3+6)">
                                    <img ng-src="../../img/totaln5/topic/{{(step*2-4)*3+6}}.png" alt="{{(step*2-4)*3+6}}" class="img-responsive">
                                </a>
                                <div class="progress vocab">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{vocabprogress[(step*2-4)*3+6]}}%;">
                                    </div>
                                </div>
                                <div class="progress grammar">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{grammarprogress[(step*2-4)*3+6]}}%;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>
                                    <span>Pass</span>
                                    <span>&nbsp;{{(step*2-4)*3+6}} &nbsp;</span><span style="text-transform:lowercase" data-i18n="common.lesson"></span>
                                </label>
                                <a class="thumb" style="color:red; " ng-click="pass('big',(step*2-4)*3+6)">
                                    <i class="fa fa-key fa-5x" style="transform:rotate(90deg);"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
