
 <div id="wizard1" class="swMain">
  <ul>
      <li>
          <a href="#step-1">
              <label class="stepNumber">
                  <span data-i18n="common.part"></span><span>&nbsp;1</span>
              </label>
          </a>
      </li>
      <li>
          <a href="#step-2">
              <label class="stepNumber">
                  <span data-i18n="common.part"></span><span>&nbsp;2</span>
              </label>
          </a>
      </li>
      <li><a href="#step-3">
      <label class="stepNumber">  <span data-i18n="common.part"></span><span>&nbsp;3</span></label>
                      
   </a></li>
  </ul>
  <div id="step-1">   
      <div class="row">
          <div class="col-md-3">
            <a href="#/1" class="thumb">
              <span data-i18n="common.lesson" ></span>&nbsp;1
            </a>
          </div>
          <div class="col-md-3">
            <a href="#/2" class="thumb">
              <span data-i18n="common.lesson" ></span>&nbsp;2
            </a>
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;3
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;4
          </div>
      </div>
      <div class="row">
         <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;5
          </div>
          <div class="col-md-3">
              <span data-i18n="common.lesson"></span>&nbsp;6
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;7
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;8
          </div>
      </div>
  </div>
  <div id="step-2"> <div class="row">
          <div class="col-md-3">
              <span data-i18n="common.lesson"></span>&nbsp;9
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;10
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;11
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;12
          </div>
      </div>
      <div class="row">
         <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;13
          </div>
          <div class="col-md-3">
              <span data-i18n="common.lesson"></span>&nbsp;14
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;15
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;16
          </div>
      </div>
  </div>                      
  <div id="step-3">
      <div class="row">
          <div class="col-md-3">
              <span data-i18n="common.lesson"></span>&nbsp;17
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;18
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;19
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;20
          </div>
      </div>
      <div class="row">
         <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;21
          </div>
          <div class="col-md-3">
              <span data-i18n="common.lesson"></span>&nbsp;22
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;23
          </div>
          <div class="col-md-3">
               <span data-i18n="common.lesson"></span>&nbsp;24
          </div>
      </div>
  </div>
</div>

<script type="text/javascript">
            app.initialize();
             $('#wizard1').smartWizard({
          enableAllSteps: true,
          includeFinishButton: false
        });
        $('#wizard1 .actionBar').hide();
        </script> 