<div id="topicWizard" class="swMain" akirawizard enablestep="true">
    <ul>
        <li>
            <a href="#step-1" ng-click="show(true)">
                <label class="stepNumber">
                    <span data-i18n="menu.kana"></span>
                </label>
            </a>
        </li>
        <li>
            <a href="#step-2" ng-click="show(false)">
                <label class="stepNumber">
                    <span data-i18n="common.part"></span>
                    <span>&nbsp;1</span>
                </label>
            </a>
        </li>
        <li>
            <a href="#step-3" ng-click="show(false)">
                <label class="stepNumber">
                    <span data-i18n="common.part"></span>
                    <span>&nbsp;2</span>
                </label>
            </a>
        </li>
        <li>
            <a href="#step-4" ng-click="show(false)">
                <label class="stepNumber">
                    <span data-i18n="common.part"></span>
                    <span>&nbsp;3</span>
                </label>

            </a>
        </li>
    </ul>

    <span ng-switch on="kana">
        <span ng-switch-when="true">
            <span id="star">
                <span class="number">
                    {{kanastar}}
                    <i class="fa fa-star kana"></i>
                </span>
            </span>
        </span>
        <span ng-switch-when="false">
            <span id="star">
                <span class="number">
                    {{vocabstar}}
                    <i class="fa fa-star vocab"></i>
                </span>
                <span class="number">
                    {{grammarstar}}
                    <i class="fa fa-star  grammar"></i>
                </span>
            </span>
        </span>
    </span>

    <div id="step-1">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-3 col-md-offset-3  lesson-wrapper">
                    <a ng-href="#/hira1" class="thumb">
                        <img src="../../img/totaln5/hira.png" class="img-responsive">
                    </a>
                    <div class="progress kana">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{kanaprogress[1]}}%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-3  lesson-wrapper">
                    <a ng-href="#/hira2" class="thumb">
                        <img src="../../img/totaln5/hira2.png" class="img-responsive">
                    </a>
                    <div class="progress kana">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{kanaprogress[2]}}%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3  lesson-wrapper">
                    <a ng-href="#/kana1" class="thumb">
                        <img src="../../img/totaln5/kana.png" class="img-responsive">
                    </a>
                    <div class="progress kana">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{kanaprogress[3]}}%;">
                        </div>
                    </div>
                </div>
                <div class="col-md-3  lesson-wrapper">
                    <a ng-href="#/kana2" class="thumb">
                        <img src="../../img/totaln5/kana2.png" class="img-responsive">
                    </a>
                    <div class="progress kana">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{kanaprogress[4]}}%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="step-{{step}}" ng-repeat="step in [2,3,4]">
        <div class="wrapper">
            <!-- Sample ngrepeat -->
            <div class="row" ng-repeat="val in [step*2-4,step*2-3]">
                <div class="col-md-3 col-sm-3 col-xs-3 lesson-wrapper" ng-repeat="value in [1,2,3,4]">
                    <label>
                        <span data-i18n="common.lesson"></span>
                        <span>&nbsp;{{4*val + value}}</span>
                    </label>
                    <a ng-href="#/{{4* val + value}}" class="thumb" ng-click="check(4*val + value)">
                        <img ng-src="../../img/totaln5/topic/{{4* val + value}}.png" alt="{{4* val + value}}" class="img-responsive">
                    </a>
                    <div class="progress vocab">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{vocabprogress[4*val + value]}}%;">
                        </div>
                    </div>
                    <div class="progress grammar">
                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{grammarprogress[4*val + value]}}%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
