<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>Total N5</title>

    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />

    <script type="text/javascript" src="../../spec/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="../../spec/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/jquery.smartWizard.js"></script>
    <script type="text/javascript" src="../../spec/lib/keyboard/keyboard.js"></script>
    <script src="../../spec/lib/i18next/i18next-1.7.4.js"></script>

    <script type="text/javascript" src="../../js/index.js"></script>
    <script type="text/javascript" src="../../js/services/utilService.js"></script>
    <script type="text/javascript" src="../../js/controllers/sharedCtrl.js"></script>
    <script type="text/javascript" src="../../js/directives/sharedDirective.js"></script>
    <script type="text/javascript" src="../../js/directives/totaln5Directive.js"></script>
    <script type="text/javascript" src="../../js/controllers/totaln5Ctrl.js"></script>
    <script type="text/javascript" src="../../js/totaln5App.js"></script>

    

    <!-- chat -->
    <link type="text/css" rel="stylesheet" media="all" href="../../chat/css/chat.css" />
    <link type="text/css" rel="stylesheet" media="all" href="../../chat/css/screen.css" />
    <script type="text/javascript" src="../../chat/js/chat.js"></script>
    <!-- end chat -->

</head>

<body>
    <div class="app container-full-height container-fluid" id="dashboard">
        <div class="row row-full-height" >
            <div class="col-md-1 col-full-height hidden-sm hidden-xs" style="padding-left: 0px;">
                <div id="left-sidebar" ng-include src="'../../view/_shared/menu.html'" ng-controller="menuCtrl" onload="navgroup=0;nav=1">
                </div>
            </div>
            <div class="col-md-8 col-full-height" id="total">
                <div id="content" ng-controller="rootController">
                    <audio controls id="sound-true" class="hide">
                        <source src="../../audio/true.mp3" type="audio/mp3">
                    </audio>
                    <audio controls id="sound-fail" class="hide">
                        <source src="../../audio/fail.mp3" type="audio/mp3">
                    </audio>
                    <div ng-switch on="isLoading">
                        <div ng-switch-when="true" class="center">
                            <img src="http://www.w3schools.com/jquery/demo_wait.gif" alt="">
                        </div>
                        <div ng-switch-when="false">
                            <div ng-view></div>
                        </div>
                        <div ng-switch-default class="center">
                            <img src="http://www.w3schools.com/jquery/demo_wait.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-full-height">

                <div id="right-sidebar">
                    <akrprofile></akrprofile>
                    <akrleaderboard></akrleaderboard>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    angular.bootstrap(document, ['totaln5App']);
    app.initialize();
    </script>

<!--     <div class="modal fade game-over-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" onkeydown="$(this).modal('hide')">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Game finished</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">Bạn nhận được</div>
                        <div class="col-md-4 col-sm-4 col-xs 4">
                            <span class="game-score"></span>&nbsp;XP
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-8">Bạn nhận được</div>
                        <div class="col-md-4 col-sm-4 col-xs 4">
                            <span class="game-star"></span>&nbsp;sao
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                        <span data-i18n="common.save" data-dismiss="modal"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade testout-over-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" onkeydown="$(this).modal('hide')">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Finished</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <span class="message"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                        <span data-i18n="common.ok" data-dismiss="modal"></span>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>
