<div id="subtopicWizard" class="swMain akiHide" akirawizard enablestep="true" step="{{partId}}">
    <span class="header">
        <h2 data-i18n="common.lesson"></h2>
        <h2 ng-bind="lessonId"></h2>
    </span>

    <ul>
        <li ng-repeat="(key, value) in [1,2,3,4]">
            <a href="#step-{{value}}" ng-click="subtopicChanged(value)">
                <label class="stepNumber">
                    <span ng-switch on="isEnabled(value)">
                        <span ng-switch-when="true" ng-bind="value"></span>
                        <span ng-switch-when="false"><i class="fa fa-lock" data-toggle="tooltip" data-placement="bottom" title="{{value*10 - 10}} stars to unlock"></i>
                        </span>
                        <span ng-switch-default ><i class="fa fa-lock" data-toggle="tooltip" data-placement="bottom" title="{{value*10 - 10}} stars to unlock"></i>
                        </span>
                    </span>
                </label>
            </a>
        </li>
        <li>
            <a href="" id="lock" ng-click="pass('basic',lessonId)">
                <label class='stepNumber'>
                    <img ng-src="../../img/w-key.png" class="img-responsive">
                </label>
            </a>
        </li>
    </ul>

    <span id="star">
        <span class="number">
            <span ng-bind="vocabstar"></span>
            <i class="fa fa-star vocab"></i>
        </span>
        <span class="number">
            <span ng-bind="grammarstar"></span>
            <i class="fa fa-star  grammar"></i>
        </span>
    </span>

    <div id="step-{{value}}" ng-repeat="value in [1,2,3,4]">
        <div ng-switch on="$last">
            <div ng-switch-when="false">
                <div class="row">
                    <div class="col-md-4">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/write" class="thumb">
                            <span data-i18n="common.write"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/write.png">
                            </span>
                        </a>
                        <span class="star-{{progress['totaln5'][lessonId][value][1]}} vocab">
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/picture" class="thumb">
                            <span data-i18n="common.picture"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/picture.png">
                            </span>
                        </a>
                        <span class="vocab star-{{progress['totaln5'][lessonId][value][2]}}">
                            <i class="fa fa-star fa-3x "></i>
                            <i class="fa fa-star fa-3x "></i>
                            <i class="fa fa-star fa-3x "></i>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/word" class="thumb">
                            <span data-i18n="common.word"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/word.png">
                            </span>
                        </a>
                        <span class="vocab star-{{progress['totaln5'][lessonId][value][3]}}">
                            <i class="fa fa-star fa-3x "></i>
                            <i class="fa fa-star fa-3x "></i>
                            <i class="fa fa-star fa-3x "></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/listen" class="thumb">
                            <span data-i18n="common.listen"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/listen.png">
                            </span>
                        </a>
                        <span class="vocab star-{{progress['totaln5'][lessonId][value][4]}}">
                            <i class="fa fa-star fa-3x "></i>
                            <i class="fa fa-star fa-3x "></i>
                            <i class="fa fa-star fa-3x "></i>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/connect" class="thumb">
                            <span data-i18n="common.connect"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/connect.png">
                            </span>
                        </a>
                        <span class="vocab star-{{progress['totaln5'][lessonId][value][5]}}">
                            <i class="fa fa-star fa-3x "></i>
                            <i class="fa fa-star fa-3x "></i>
                            <i class="fa fa-star fa-3x "></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- If is last item it is grammar topic -->
            <div ng-switch-when="true">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/listen1" class="thumb">
                            <span data-i18n="common.listen"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/grammar/listen.png">
                            </span>
                        </a>
                        <span class="grammar star-{{progress['totaln5'][lessonId][value][1]}}">
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/choice" class="thumb">
                            <span data-i18n="common.choice"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/grammar/choice.png">
                            </span>
                        </a>
                        <span class="grammar star-{{progress['totaln5'][lessonId][value][2]}}">
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/translate" class="thumb">
                            <span data-i18n="common.translate"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/grammar/translate.png">
                            </span>
                        </a>
                        <span class="grammar star-{{progress['totaln5'][lessonId][value][3]}}">
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/read" class="thumb">
                            <span data-i18n="common.read"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/grammar/read.png">
                            </span>
                        </a>
                        <span class="grammar  star-{{progress['totaln5'][lessonId][value][4]}}">
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <a ng-href="#/{{degree}}/{{lessonId}}/{{value}}/word1" class="thumb">
                            <span data-i18n="common.word"></span>
                            <span class="akira-circle">
                                <img ng-src="../../img/totaln5/subtopic/grammar/word.png">
                            </span>
                        </a>
                        <span class="grammar star-{{progress['totaln5'][lessonId][value][5]}}">
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                            <i class="fa fa-star fa-3x"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//Popover information
$.each($("#subtopicWizard ul li").has("i.fa.fa-lock"), function(k, v) {
    $(v).popover();
});
</script>
