<div class="answer-sheet">
    <span id="inittime" class="hide">{{time}}</span>
    <div class="row" id="submit">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <button id="finish" data-i18n="common.submit" onclick="finish()" class="akr-btn btn"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h2 data-i18n="common.answersheet"></h2>
        </div>
        <div class="col-md-4">
            <div id="timecount">
                <span id="timeleft" class="btn akr-btn">{{time}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-repeat="(key, value) in dataset">
                <div ng-repeat="(k,v) in value" class="row" ng-class="{'odd':$odd ==true}">
                    <div class="col-md-2 center">
                        <h4 ng-bind="counter(dataset,key,k)"></h4>
                    </div>
                    <div class="col-md-2" ng-class="{'true':v.correct=='answer0'}" onclick="answerclicked(this)">
                        <span class="test-circle"></span>
                    </div>
                    <div class="col-md-2" ng-class="{'true':v.correct=='answer1'}" onclick="answerclicked(this)">
                        <span class="test-circle"></span>
                    </div>
                    <div class="col-md-2" ng-class="{'true':v.correct=='answer2'}" onclick="answerclicked(this)">
                        <span class="test-circle"></span>
                    </div>
                    <div class="col-md-2" ng-class="{'true':v.correct=='answer3'}" onclick="answerclicked(this)">
                        <span class="test-circle"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function answerclicked(e) {
    $(e).parent().find(".choosed").removeClass("choosed");
    $(e).addClass("choosed");
}

function finish() {
    var correctA = $(".answer-sheet .true.choosed").length;
    var totalQ = $(".answer-sheet tr").length;
    alert("Congrat you have correct " + correctA + "/" + totalQ + " questions");
}


var initMin = angular.element("#game-scope").scope().time;
var count = parseInt(initMin) * 60;
var classStr = "normal";
$("#timeleft").text(initMin + " : 00");
var timer = setInterval(function() {
    count--;
    if (count == -1) {
        clearInterval(timer);
        //do stuffs
        return;
    }
    var mins = Math.floor(count / 60);
    if (mins <= 5) {
        classStr = "warning";
    } else if (mins <= 3) {
        classStr = "danger";
    }
    var sec = count - mins * 60;
    $("#timeleft").text(mins + " : " + ((sec <= 9) ? "0" + sec : sec));
    $("#timeleft").addClass(classStr);
}, 1000);
changeLang();
</script>
