<span id="inittime" class="hide">{{time}}</span>
<button id="finish" data-i18n="common.submit" onclick="finish()" class="akr-btn"></button>
<div id="timecount">
    <h2 data-i18n="answersheet"></h2>
    <span id="timeleft">{{time}}</span>
</div>
<table class=" table  table-bordered table-striped answer-sheet">
    <tbody>
        <tr ng-repeat="(key, value) in dataset" id="ans-{{key}}">
            <td>{{key+1}}</td>
            <td onclick="answerclicked(this)" ng-class="{'true':value.correct=='answer0'}">
                <span class="test-circle"></span>
            </td>
            <td onclick="answerclicked(this)" ng-class="{'true':value.correct=='answer1'}">
                <span class="test-circle"></span>
            </td>
            <td onclick="answerclicked(this)" ng-class="{'true':value.correct=='answer2'}">
                <span class="test-circle"></span>
            </td>
            <td onclick="answerclicked(this)" ng-class="{'true':value.correct=='answer3'}">
                <span class="test-circle"></span>
            </td>
        </tr>
    </tbody>
</table>


<script type="text/javascript">
function answerclicked(e) {
    $(e).parent().find(".choosed").removeClass("choosed");
    $(e).addClass("choosed");
}

function finish() {
    var correctA = $(".answer-sheet tr td.true.choosed").length;
    var totalQ = $(".answer-sheet tr").length;
    alert("Congrat you have correct " + correctA + "/" + totalQ + " questions");
}


var initMin = angular.element("#game-scope").scope().time;
var count = parseInt(initMin) * 60;
var classStr = "normal";
$("#timeleft").text(initMin + " : 00");
setInterval(function() {
    count--;
    var mins = Math.floor(count / 60);
    if (mins <= 5) {
        classStr = "warning";
    } else if (mins <= 3) {
        classStr = "danger";
    }
    var sec = count - mins * 60;
    $("#timeleft").text(mins + " : " + ((sec <= 9) ? "0" + sec : sec));
    $("#timeleft").addClass(classStr);
}, 1000);
changeLang();
</script>
