<table class="table">
    <tbody>
        <tr>
            <td class="center">
                <span class="correct-child">
                    <span class="test-circle"></span>
                </span>
                <span class="failed-child">
                    <i class="fa fa-times fa-4x"></i>
                </span>
            </td>
            <td>
                <div>
                    <span ng-bind="val.hiragana" class="hint"></span>
                </div>
                <div>
                    <span ng-bind="val.kanji" class="hint"></span>
                </div>
            </td>
            <td>
                <div>
                    <span ng-bind="val.vietnamese" class="hint"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
