<div class="row" id="leaderboard">
    <div class="col-md-12 col-sm-12 col-sm-12">
		<div id="leaderboardWizard" class="swMain">
		    <ul>
		        <li>
		            <a href="#step-1" class="circle">
		                <label class="stepNumber">L</label>
		            </a>
		        </li>
		        <li>
		            <a href="#step-2" class="circle">
		                <label class="stepNumber">M</label>
		            </a>
		        </li>
		    </ul>
			<h2 data-i18n="leaderboard.leaderboard">
				
			</h2>
		    <div id="step-1">
		        <div id="level-tabs">
		            <ul>
		                <li><a href="#lvl-tabs-1" data-i18n="leaderboard.week"></a>
		                </li>
		                <li><a href="#lvl-tabs-2" data-i18n="leaderboard.all"></a>
		                </li>
		            </ul>
		            <div id="lvl-tabs-1">
		                <div class="row" ng-repeat="val in rank['level']['week']">
		                    <div class="col-md-2 col-sm-2 col-xs-2">
		                        <img ng-src="{{val.ava}}" alt="" class="ava-circle">
		                    </div>
		                    <div class="col-md-5 col-sm-5 col-xs-5">
		                        {{val.name}}
		                    </div>
		                    <div class="col-md-3 col-sm-3 col-xs-3">
		                        {{val.score}}
		                    </div>
		                </div>
		            </div>
		            <div id="lvl-tabs-2">
		                <div class="row" ng-repeat="val in rank['level']['all']">
		                    <div class="col-md-2 col-sm-2 col-xs-2">
		                        <img ng-src="{{val.ava}}" alt="" class="ava-circle">
		                    </div>
		                    <div class="col-md-5 col-sm-5 col-xs-5">
		                        {{val.name}}
		                    </div>
		                    <div class="col-md-3 col-sm-3 col-xs-3">
		                        {{val.score}}
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div id="step-2">
		        <div id="mentor-tabs">
		            <ul>
		                <li><a href="#mentor-tabs-1" data-i18n="leaderboard.week"></a>
		                </li>
		                <li><a href="#mentor-tabs-2" data-i18n="leaderboard.all"></a>
		                </li>
		            </ul>
		            <div id="mentor-tabs-1">
		                <div class="row" ng-repeat="val in rank['mentor']['week']">
		                    <div class="col-md-2 col-sm-2 col-xs-2">
		                        <img ng-src="{{val.ava}}" alt="" class="ava-circle">
		                    </div>
		                    <div class="col-md-5 col-sm-5 col-xs-5">
		                        {{val.name}}
		                    </div>
		                    <div class="col-md-3 col-sm-3 col-xs-3">
		                        {{val.score}}
		                    </div>
		                </div>
		            </div>
		            <div id="mentor-tabs-2">
		                <div class="row" ng-repeat="val in rank['mentor']['all']">
		                    <div class="col-md-2 col-sm-2 col-xs-2">
		                        <img ng-src="{{val.ava}}" alt="" class="ava-circle">
		                    </div>
		                    <div class="col-md-5 col-sm-5 col-xs-5">
		                        {{val.name}}
		                    </div>
		                    <div class="col-md-3 col-sm-3 col-xs-3">
		                        {{val.score}}
		                    </div>
		                </div>
		            </div>
		        </div>

		    </div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $('#leaderboardWizard').smartWizard({
        enableAllSteps: true, // Enable/Disable all steps on first load
        keyNavigation: false
    });

    $('#leaderboardWizard .actionBar').hide();
    $("#level-tabs").tabs();
    $("#mentor-tabs").tabs();
</script>