<script type="text/javascript" src="../../js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="../../js/tabs.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/tabs.css" />

<div class="row" id="leaderboard">
    <div class="col-md-12 col-sm-12 col-sm-12">
        <div id="leaderboardWizard" class="swMain">
            <ul>
                <li>
                    <a href="#step-1" class="circle">
                        <label class="stepNumber">L</label>
                    </a>
                </li>
                <li>
                    <a href="#step-2" class="circle">
                        <label class="stepNumber">M</label>
                    </a>
                </li>
            </ul>
            <h4 data-i18n="leaderboard.leaderboard" class="left"></h4>
            <div id="step-1">
                <div id="level-tabs">
                    <tabs>
                        <tab>
                            <h1 class="heading" data-i18n="leaderboard.week">Tuần</h1>
                            <div id="lvl-tabs-1">
                                <div class="row" ng-repeat="val in rank['level']['week']">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div ng-bind-html="renderHtml(val.ava)" class="ava-circle"></div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <span ng-bind="val.display" ng-click="callChat(val.uid)">
                                        </span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span ng-bind="val.score"></span>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <h1 class="heading" data-i18n="leaderboard.all">Tất cả</h1>
                            <div id="lvl-tabs-2">
                                <div class="row" ng-repeat="val in rank['level']['all']">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div ng-bind-html="renderHtml(val.ava)" class="ava-circle"></div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <span ng-bind="val.display"></span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span ng-bind="val.score"></span>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabs>
                </div>
            </div>
            <div id="step-2">
                <div id="mentor-tabs">

                    <tabs>
                        <tab>
                            <h1 class="heading" data-i18n="leaderboard.week">Tuần</h1>
                            <div id="mentor-tabs-1">
                                <div class="row" ng-repeat="val in rank['mentor']['week']">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div ng-bind-html="renderHtml(val.ava)" class="ava-circle"></div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <span ng-bind="val.name"></span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span ng-bind="val.score"></span>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <h1 class="heading" data-i18n="leaderboard.all">Tất cả</h1>
                            <div id="mentor-tabs-2">
                                <div class="row" ng-repeat="val in rank['mentor']['all']">
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <div ng-bind-html="renderHtml(val.ava)" class="ava-circle"></div>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        <span ng-bind="val.name"></span>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <span ng-bind="val.score"></span>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabs>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('#leaderboardWizard').smartWizard({
    enableAllSteps: true, // Enable/Disable all steps on first load
    keyNavigation: false
});
$('#lvl-tabs-1').slimscroll({
    height: '300px'
});
$('#lvl-tabs-2').slimscroll({
    height: '300px'
});
$('#mentor-tabs-1').slimscroll({
    height: '300px'
});
$('#mentor-tabs-2').slimscroll({
    height: '300px'
});
$('tabs').tabs();
$('#leaderboardWizard .actionBar').hide();
</script>
