<span class="row" id="akr-life-wrapper">
    <div class="col-md-1 col-full-height-middle">
        <a onclick="window.history.back();">
            <!-- <i class="fa fa-home fa-4x"></i> -->
            <i class="fa fa-arrow-left fa-3x"></i>
        </a>
    </div>
    <div class="col-md-8 col-full-height-middle">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
            </div>
        </div>
    </div>
    <div class="col-md-3 col-full-height-middle" id="life-wrapper">
        <span class="life-{{life}}">
            <i class="fa fa-heart fa-3x"></i>
            <i class="fa fa-heart fa-3x"></i>
            <i class="fa fa-heart fa-3x"></i>
        </span>
    </div>
</span>