<div id="left-menu-wrapper">
    <div id="site-lang">
        <span id="vi" onclick="changeLang('vi');">
        </span>
        <span id="en" onclick="changeLang('en');">
        </span>
    </div>
    <div id="logo">
        <img src="../../img/logo.png" alt="akira-logo" class="img-responsive" />
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" data-i18n="menu.japanese-n5">
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="../kana" data-i18n="menu.kana"></a>
                        </li>
                        <li>
                            <a href="../totaln5" data-i18n="menu.total-n5"></a>
                        </li>
                        <li>
                            <a href="../kanjin5" data-i18n="menu.kanji-n5"></a>
                        </li>
                        <li>
                            <a href="../testn5" data-i18n="menu.test-n5"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" data-i18n="menu.japanese-n4">
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="../totaln4" data-i18n="menu.total-n4"></a>
                        </li>
                        <li>
                            <a href="../kanjin4" data-i18n="menu.kanji-n4"></a>
                        </li>
                        <li>
                            <a href="../testn4" data-i18n="menu.test-n4"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" data-i18n="menu.mobi">
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="../android" data-i18n="menu.android"></a>
                        </li>
                        <li>
                            <a href="../ios" data-i18n="menu.ios"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="social">
        <div class="fb">
            <a href='https://www.facebook.com/WOW.Japanese' target="blank">
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
        <div class="fb">
            <a href='https://www.youtube.com/user/WowJapanese' target="blank">
                <i class="fa fa-youtube fa-2x"></i>
            </a>
        </div>
    </div>
</div>
