<span class="row">
    <div class="col" id="life-wrapper">
        <span class="life-{{life}}">
            <i class="fa fa-heart fa-3x"></i>
            <i class="fa fa-heart fa-3x"></i>
            <i class="fa fa-heart fa-3x"></i>
        </span>
    </div>
</span>
<span class="row" id="akr-life-wrapper">
    <div class="col col-full-height-middle">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
            </div>
        </div>
    </div>

</span>
