<div class="row" id="profile">

    <!-- Show this when user is logged in -->
    <div class="col-md-12 col-sm-12 col-sm-12" ng-hide='user==="Anonymous"'>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <span class="ava-circle">
                <img src="" />
            </span>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 username">
                    <span>{{user.name}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span data-i18n="common.dayleft"></span>: {{user.dayremain}}
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6" style="text-align:right;">
                    <i class="fa fa-plus" data-toggle="modal" data-target="#myModal"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="progress level">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="progress mentor">
                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-sm-12" ng-show='user==="Anonymous"'>
        <h4 data-i18n="message.anonymous"></h4>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Redeem code</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="code" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Reedem</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
