<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap-theme.min.css" />
    <title>
      Dashboard
    </title>
    
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=721532401232192&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }
       (document, 'script', 'facebook-jssdk'));
    </script>
  </head>
  <body>
    <div class="app" id="dashboard">
      <div class="row">
        <div class="col-md-3 col-xs-3 col-sm-3" id="sidebar">
          <a href="http://akira.edu.vn" id="logo-wrapper">
            <img  id="logo" src="img/logo.jpg" alt="akira-logo" class="img-circle"/>
          </a>
          <div class="btn-group-vertical">
            <button class="btn-group active" id="profile" onclick="navigateTo('profile.html')">
            </button>
            <button class="btn-group" id="course" onclick="navigateTo('dashboard.html')" >
            </button>
            <button class="btn-group " id="apps" onclick="navigateTo('mobile.html')" >
            </button>
          </div>
          <div id="fb-box">
            <h3>
              Follow us
            </h3>
            <hr>
            <div id="fb-root">
            </div>
            <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false">
            </div>
            <br/>
            <br/>
            <div class="fb-share-button">
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-xs-6 col-sm-6 main-content">
          <div class="col-md-4 col-xs-4 col-sm-4">
            <div class="row">
              <div class="col-md-6">
                <label id="akira-gold">
                  Gold
                </label>
              </div>
              
              <div class="col-md-4 col-md-offset-2" >
                900
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label id="akira-day-remain">
                  Day remain
                </label>
                <br/>
              </div>
              <div class="col-md-4 col-md-offset-2" >
                265
                <span class="btn btn-default glyphicon glyphicon-arrow-up" data-toggle="modal" data-target="#redeem">
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label id="akira-level">
                  Level
                </label>
              </div>
              <div class="col-md-4 col-md-offset-2" >
                3
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                40 %
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label id="akira-mentor-level">
                  Sempai level
                </label>
              </div>
              <div class="col-md-4 col-md-offset-2">
                4
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                60%
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="row">
              <div class="col-md-2">
                <label for="classCode">
                  Lớp: 
                </label>
              </div>
              <div class="col-md-4">
                <span>
                  
                </span>
              </div>
              <div class="col-md-1 col-md-offset-4">
                <button class="btn btn-default" data-toggle="modal" data-target="#classModal">
                  Cập nhập
                </button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-2">
                <label for="mentorId">
                  Sempai của bạn: 
                </label>
              </div>
              <div class="col-md-4">
                <span>
                  ( Level: 1 ) 
                </span>
              </div>
              <div class="col-md-1 col-md-offset-4">
                <button class="btn btn-default" data-toggle="modal" data-target="#mentorModal">
                  Cập nhập
                </button>
              </div>
            </div>
            
            <h3>
              Tình hình học tập
            </h3>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-2">
                    Hira
                  </th>
                  <th class="col-md-2">
                    Từ vựng
                  </th>
                  <th class="col-md-2">
                    Ngữ pháp
                  </th>
                  <th class="col-md-2">
                    Nghe
                  </th>
                  <th class="col-md-2">
                    Kanji
                  </th>
                  <th class="col-md-2">
                    Nâng cao
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    4         
                  </td>
                  <td>
                    0         
                  </td>
                  <td>
                    0         
                  </td>
                  <td>
                    0         
                  </td>
                  <td>
                    0         
                  </td>
                  <td>
                    0         
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>
              Sempai của
            </h3>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-md-1">
                    Id
                  </th>
                  <th class="col-md-9">
                    Tên
                  </th>
                  <th class="col-md-2">
                    Level
                  </th>
                </tr>
              </thead>
              <tbody>
              </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript" src="cordova.js">
  </script>
  <script type="text/javascript" src="js/index.js">
  </script>
  <script type="text/javascript" src="js/jquery-2.1.1.min.js">
  </script>
  <script type="text/javascript" src="js/jquery-ui.js">
  </script>
  <script type="text/javascript" src="js/bootstrap.min.js">
  </script>
  <script src="js/cldr.js">
  </script>
  
  <script src="js/cldr/event.js">
  </script>
  <script src="js/cldr/supplemental.js">
  </script>
  <script src="js/cldr/unresolved.js">
  </script>
  
  <script src="js/dist/globalize.js">
  </script>
  <script src="js/dist/globalize/message.js">
  </script>
  <script type="text/javascript">
    app.initialize();
    $( "#tabs" ).tabs();
    if(!hasViewAuth()){
      //window.location.href="index.html";
    }
  </script>
</body>
</html>
