<!DOCTYPE html>
<html ng-app="testN5App">

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>Total N5</title>

    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <!-- Required libs -->
    <script type="text/javascript" src="../../spec/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/angular.min.js"></script>
    <!-- <script type="text/javascript" src="../../spec/lib/angular-route.min.js"></script> -->
    <script type="text/javascript" src="../../spec/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="../../spec/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/jquery.smartWizard.js"></script>
    <script src="../../spec/lib/i18next/i18next-1.7.4.js"></script>

    <!-- Angular app libs -->
    <script type="text/javascript" src="../../js/controllers/TestN5.Ctrl.js"></script>
    <script type="text/javascript" src="../../js/directives/shared.akrprofile.js"></script>
    <script type="text/javascript" src="../../js/directives/shared.akridomshuffle.js"></script>
    <script type="text/javascript" src="../../js/apps.js"></script>

    <!-- Custom -->
    <script type="text/javascript" src="../../js/index.js"></script>
    <style type="text/css">
    .shuffle {
        border: 1px solid #CCC;
        border-radius: 5px;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        /* Fix for IE7 */
        *display: inline;
        /* Fix for IE7 */
        padding: 10px;
    }
    #drop-region {
        width: 350px;
        height: 70px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }
    </style>
    <script type="text/javascript">
    $.fn.shuffle = function() {

        var allElems = this.get(),
            getRandom = function(max) {
                return Math.floor(Math.random() * max);
            },
            shuffled = $.map(allElems, function() {
                var random = getRandom(allElems.length),
                    randEl = $(allElems[random]).clone(true)[0];
                allElems.splice(random, 1);
                return randEl;
            });

        this.each(function(i) {
            $(this).replaceWith($(shuffled[i]));
        });

        return $(shuffled);
    };


    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text/html", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text/html")
        console.log(data);
        ev.target.appendChild(document.getElementById(data));
    }
    </script>
</head>

<body>
    <div class="row">
        <div id="left-sidebar" class="hide col-md-2 col-sm-2 col-xs-2" ng-include src="'../../view/common/menu.html'" ng-controller='menuCtrl'>

        </div>
        <div id="content" class="col-md-8 col-sm-8 col-xs-8 hide">
            <div ui-view></div>
        </div>
        <div id="right-sidebar" class="col-md-2 col-sm-2 col-xs-2">
            <div akr-repeat-shuffle id="parent-wrapper">
                <div ng-repeat='item in ["1","2","3","4"]' class="shuffle" ondragstart="drag(event)" draggable="true" id="{{item}}">
                    {{item}}
                </div>
            </div>
            <div ondragstart="drag(event)" draggable="true">Image</div>
            <div id="drop-region" ondrop="drop(event)" ondragover="allowDrop(event)">`</div>

            <!-- Custom Akira profile directive -->
            <akiraprofile></akiraprofile>

            <!-- Custom Akira leaderboard directive -->
            <akirarank></akirarank>
        </div>
    </div>
</body>

</html>
