<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>Total N5</title>

    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />

    <!-- Required libs -->
    <script type="text/javascript" src="../../spec/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/angular.min.js"></script>
    <!-- <script type="text/javascript" src="../../spec/lib/angular-route.min.js"></script> -->
    <script type="text/javascript" src="../../spec/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="../../spec/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/jquery.smartWizard.js"></script>
    <script src="../../spec/lib/i18next/i18next-1.7.4.js"></script>

    <!-- Angular app libs -->
    <script type="text/javascript" src="../../js/controllers/testN5Ctrls.js"></script>
    <script type="text/javascript" src="../../js/directives/testN5Directives.js"></script>
    <script type="text/javascript" src="../../js/directives/sharedDirectives.js"></script>
    <script type="text/javascript" src="../../js/testN5App.js"></script>

    <!-- Custom -->
    <script type="text/javascript" src="../../js/index.js"></script>
</head>

<body>
    <div class="app container-fluid container-full-height">
        <div class="row row-full-height">
            <div class="col-md-2 hidden-sm hidden-xs col-full-height">
                <div id="left-sidebar" ng-include src="'../../view/_shared/menu.html'" ng-controller="menuCtrl" onload="navgroup=0;nav=3">
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 col-full-height">
                <div id="content">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
app.initialize();
angular.bootstrap(document, ['testN5App']);
</script>

</html>
