<!DOCTYPE html>
<html ng-app="testN5App">

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>Total N5</title>

    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <!-- Required libs -->
    <script type="text/javascript" src="../../spec/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/angular.min.js"></script>
    <!-- <script type="text/javascript" src="../../spec/lib/angular-route.min.js"></script> -->
    <script type="text/javascript" src="../../spec/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="../../spec/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/jquery.smartWizard.js"></script>
    <script src="../../spec/lib/i18next/i18next-1.7.4.js"></script>

    <!-- Angular app libs -->
    <script type="text/javascript" src="../../js/controllers/TestN5.Ctrl.js"></script>
    <!--     <script type="text/javascript" src="../../js/directives/TestN5.directive.js"></script> -->
    <script type="text/javascript" src="../../js/apps.js"></script>

    <!-- Custom -->
    <script type="text/javascript" src="../../js/index.js"></script>
</head>

<body>
    <div class="row">
        <div id="left-sidebar" class="col-md-2 col-sm-2 col-xs-2" ng-include src="'../../view/common/menu.html'" ng-controller='menuCtrl'>

        </div>
        <div id="content" class="col-md-2 col-sm-2 col-xs-2">
            <div ui-view></div>
        </div>
        <div id="right-sidebar" class="col-md-2 col-sm-2 col-xs-2">
            <!-- Custom Akira profile directive -->
            <akiraprofile></akiraprofile>

            <!-- Custom Akira leaderboard directive -->
            <akirarank></akirarank>
        </div>
    </div>
</body>

</html>
