<ion-content class='center'>
    <div class="row">
        <div class="col">
            <a href="#/{{course}}/kanji/{{lessonId}}/{{subtopic}}/learn">
                Learn
            </a>
        </div>
        <div class="col">

            <a href="#/{{course}}/kanji/{{lessonId}}/{{subtopic}}/picture">
                Picture
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#/{{course}}/kanji/{{lessonId}}/{{subtopic}}/word">
            Word
            </a>
        </div>
        <div class="col">
            <a href="#/{{course}}/kanji/{{lessonId}}/{{subtopic}}/connect">
            Connect
            </a>
        </div>
    </div>
</ion-content>
