<div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
        <button class="button button-block button-positive">
            <i class="fa fa-facebook f-left"></i> Login with Facebook
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
        <button class="button button-block button-positive">
            <i class="fa fa-google-plus f-left"></i> Login with Gmail
        </button>
    </div>

</div>
<div class="row">
    <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
        	<a href="view/mobile" class="button button-block button-positive" >
			  Learn now
			</a>
    </div>
</div>
