<div style="width: 100%">

    <style type="text/css" rel="stylesheet" media="all">

        .mb-login-button {
            width: 100%;
            height: 100px;
            margin-bottom: 30px;
            border-radius: 15px;
            font-size: 20pt;
            color: white;
        }
        
        .bt-facebook{
            background: #3873BA;
            border-color: #3873BA;
        }
        
        .bt-google{
            background: #BD3B31;
            border-color: #BD3B31;
        }
        
        .bt-learn{
            background: #64C74D;
            border-color: #64C74D;
        }

        .row{
            width: 480px;
        }

    </style>

    <div class="mb-login-main">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <img id="image-logo" src="../../img/logo.jpg" alt="Akira Education" style="width: 100%;;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <button class="button button-block button-positive mb-login-button bt-facebook">
                    Login with Facebook
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <button class="button button-block button-positive mb-login-button bt-google">
                    Login with Gmail
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <a href="view/mobile">
                    <button class="button button-block button-positive mb-login-button bt-learn">
                        LEARN NOW 
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../spec/lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript">

    $( document ).ready(function() {
        // Get device's resolution
        var deviceWidth = $(window).width();
        var deviceHeight = $(window).height();

        // Use jQuery to add style 
        $(".row").css("width", deviceWidth*75/100);
        $(".mb-login-button").css("width", deviceWidth*75/100);
        $("#image-logo").css("width", deviceWidth*75/100);

        // Set margin
        var viewHeight = $(".mb-login-main").height();
        $(".mb-login-main").css("margin-top", (deviceHeight - viewHeight)/2);
        $(".mb-login-main").css("margin-bottom", (deviceHeight - viewHeight)/2);
        $(".mb-login-main").css("margin-left", (deviceWidth - deviceWidth*75/100)/2);
        $(".mb-login-main").css("margin-right", (deviceWidth - deviceWidth*75/100)/2);
    });


</script>
