<div>

    <style type="text/css" rel="stylesheet" media="all">
        .bar.bar-balanced {
            border-color: #F2F2F2;
            background-color: #F2F2F2;
            background-image: linear-gradient(0deg, #F2F2F2, #F2F2F2 50%, transparent 50%);
            color: #fff; 
        }
        .bar.bar-balanced .title {
            color: #000;
        }
        .bar.bar-balanced.bar-footer {
            background-image: -webkit-linear-gradient(#F2F2F2, #145fd7 50%, transparent 50%);
            background-image: -o-linear-gradient(#F2F2F2, #145fd7 50%, transparent 50%);
            background-image: linear-gradient(#F2F2F2, #145fd7 50%, transparent 50%);
        }
        .bar-balanced .button {
            width: 32px !important;
            height: 32px !important;
            border-radius: 50% !important;
            border-color: #64C74D;
            background-color: #64C74D;
            color: #fff; 
            margin-left: 5px;
            margin-right: 5px;
        }
        .bar-balanced .button:hover {
            color: #fff;
            text-decoration: none; 
        }
        .bar-balanced .button.active, .bar-balanced .button.activated {
            border-color: #498f24;
            background-color: #498f24;
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
        }
        .bar-balanced .button.button-clear {
            border-color: transparent;
            background: none;
            box-shadow: none;
            color: #fff;
            font-size: 17px; 
        }
       .bar-balanced .button.button-icon {
            border-color: transparent;
            background: none; 
        }

                .tabs-positive > .tabs, .tabs.tabs-positive {
            border-color: #fff;
            background-color: #fff;
            background-image: linear-gradient(0deg, #fff, #fff 50%, transparent 50%);
            color: #568ED4; 
        }
        .tabs-positive > .tabs .tab-item .badge, .tabs.tabs-positive .tab-item .badge {
            background-color: #fff;
            color: #fff; 
            font-weight: bold;
        }
        .tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
            margin-top: -2px;
            border-style: solid;
            border-width: 2px 0 0 0;
            border-color: #444;
            color: #568ED4; 
        }
        .tab-item {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -moz-box-flex: 1;
            -moz-flex: 1;
            -ms-flex: 1;
            flex: 1;
            display: block;
            overflow: hidden;
            max-width: 150px;
            height: 100%;
            color: inherit;
            text-align: center;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 600;
            font-size: 18px;
            font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            color: #D9D9D9;
            border-bottom: 1px solid #DEDEDE;
        }
        .tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
            color: #568ED4; 
        }

        .table>tbody>tr>td{
            border-top: 0px solid #ddd;
            height: 160px;
            vertical-align: middle;
        }
        .fill-height{
            height: 90%;
        }

        .mb-kana-image{
            width: 120px;
            border: 2px solid #BFBFBF;
            border-radius: 3px;
            margin-left: auto;
            margin-right: auto;
        }
        .mb-center{
            margin: 5px auto 10px auto;
        }
        .mb-content{
            height: 97%;
            width: 100%;
        }
        .mb-lesson{
            font-weight: 600;
        }
        .mb-lesson-kana{
            font-size: 16pt;
        }
        .mb-lesson-total{
            font-size: 12pt;
        }
        .mb-progress-kana{
            width: 80%;
            margin: 0 auto;
        }
        .mb-progress-total{
            width: 100px;
            margin: 0 auto 5px auto;
        }
        .progress-bar-kana{
            width: 80%; 
            height: 20px;
        }
        .progress-bar-total{
            width: 80%; 
            height: 10px;
        }
        .mb-point{
            float: right;
            margin: 10px 15px 0 0;
        }
        .mb-value{
            font-size: 13pt;
            font-weight: 600;
        }
        .fa-star{
            margin-left: 5px;
        }
        .mb-blue{
            color: #568ED4;
        }
        .mb-green{
            color: #7EC234;
        }
        .mb-yellow{
            color: #F9DC05;
        }
        .mb-red{
            color: #ED5151;
        }
        .fill-height{
            padding-bottom: 40px;
        }
        .slider{
            width: 100%;
        }
        .mb-total-row{
            height: 33%;
        }
        .mb-total-image{
            width:  80px;
            border: 2px solid #568ED4;
            border-radius: 3px;
            margin-left: auto;
            margin-right: auto;
        }
        .mb-total-center{
            width: 100%;
        }
    </style>

    <div class="bar bar-header  bar-balanced mb-bar-header">
        <button class="button" ng-click="toggleLeft();">S</button>
        <h1 class="title" ng-bind="coursename"></h1>
        <button class="button" ng-click="toggleRight()">I</button>
    </div>

    <ion-tabs class="tabs-positive tabs-top">
        <ion-tab title="Kana">
            <ion-content class= "center fill-height">
                <div class="mb-content">
                    <div class=mb-point>
                        <span class="mb-value">12</span>
                        <i class="fa fa-star fa-lg mb-blue"></i>
                    </div>
                    <div class="mb-content">
                        <table class="table fill-height">
                            <tbody>
                                <tr >
                                    <td>
                                        <div class="mb-lesson mb-lesson-kana">
                                                <span>Hiragana I</span>
                                        </div>
                                        <div class="mb-center">
                                            <a href="#/{{degree}}/kana/1">
                                                <img src="../../img/kana/topic/hira.png" alt="hiragana 1" class="img-responsive mb-kana-image">
                                            </a>
                                        </div>
                                        <div class="progress mb-progress-kana">
                                            <div class="progress-bar progress-bar-kana" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-lesson mb-lesson-kana">
                                                <span>Hiragana II</span>
                                        </div>
                                        <div class="mb-center">
                                            <a href="#/{{degree}}/kana/2">
                                                <img src="../../img/kana/topic/hira2.png" alt="hiragana 2" class="img-responsive mb-kana-image">
                                            </a>
                                        </div>
                                        <div class="progress mb-progress-kana">
                                            <div class="progress-bar progress-bar-kana" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="mb-lesson mb-lesson-kana">
                                                <span>Katakana I</span>
                                        </div>
                                        <div class="mb-center">
                                            <a href="#/{{degree}}/kana/3">
                                                <img src="../../img/kana/topic/kana.png" alt="katakana 1" class="img-responsive mb-kana-image">
                                            </a>
                                        </div>
                                        <div class="progress mb-progress-kana">
                                            <div class="progress-bar progress-bar-kana" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="mb-lesson mb-lesson-kana">
                                                <span>Katakana II</span>
                                        </div>
                                        <div class="mb-center">
                                            <a href="#/{{degree}}/kana/4">
                                                <img src="../../img/kana/topic/kana2.png" alt="katakana 2" class="img-responsive mb-kana-image">
                                            </a>
                                        </div>
                                        <div class="progress mb-progress-kana">
                                            <div class="progress-bar progress-bar-kana" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ion-content>
        </ion-tab>

        <ion-tab title="Total">
            <ion-content class="center fill-height">
                <div class="mb-content">
                    <div class=mb-point>
                        <span class="mb-value">23</span>
                        <i class="fa fa-star fa-lg mb-yellow"></i>
                        <span class="mb-value">12</span>
                        <i class="fa fa-star fa-lg mb-green"></i>
                    </div>
                    <div class="mb-content">
                        <ion-slide-box auto-play="false" pager-click="">
                            <ion-slide ng-repeat="(key, value) in [1,2,3,4,5]">
                                <div class="box {{value}} fill-height">
                                    <table class="table fill-height">
                                        <tr>
                                            <td class="mb-total-row">
                                                <table class="mb-total-center">
                                                    <tr>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 1</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/total/{{key*3+value}}">
                                                                    <img src="../../img/total/topic/{{key*3+value}}.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 2</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/total/{{key*3+value}}">
                                                                    <img src="../../img/total/topic/{{key*3+value}}.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mb-total-row">
                                                <table class="mb-total-center">
                                                    <tr>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 3</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/total/{{key*3+value}}">
                                                                    <img src="../../img/total/topic/{{key*3+value}}.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 4</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/total/{{key*3+value}}">
                                                                    <img src="../../img/total/topic/{{key*3+value}}.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 5</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/total/{{key*3+value}}">
                                                                    <img src="../../img/total/topic/{{key*3+value}}.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mb-total-row">
                                                <table class="mb-total-center">
                                                    <tr>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 6</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/total/{{key*3+value}}">
                                                                    <img src="../../img/total/topic/{{key*3+value}}.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Pass 6 lessons</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/total/{{key*3+value}}">
                                                                    <img src="../../img/total/topic/{{key*3+value}}.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </ion-slide>
                        </ion-slide-box>
                    </div>
                </div>
            </ion-content>
        </ion-tab>

        <ion-tab title="Kanji">
            <ion-content class="center fill-height">
            <div class="mb-content">
                    <div class=mb-point>
                        <span class="mb-value">12</span>
                        <i class="fa fa-star fa-lg mb-red"></i>
                    </div>
                    <div class="mb-content">
                        <table class="table fill-height">
                                        <tr>
                                            <td class="mb-total-row">
                                                <table class="mb-total-center">
                                                    <tr>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 1</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/kanji/1">
                                                                    <img src="../../img/kanjin5/topic/7.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 2</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/kanji/2">
                                                                    <img src="../../img/kanjin5/topic/7.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mb-total-row">
                                                <table class="mb-total-center">
                                                    <tr>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 3</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/kanji/3">
                                                                    <img src="../../img/kanjin5/topic/7.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Pass 3 lessons</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="">
                                                                    <img src="../../img/kanjin5/topic/7.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 4</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/kanji/4">
                                                                    <img src="../../img/kanjin5/topic/7.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mb-total-row">
                                                <table class="mb-total-center">
                                                    <tr>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 5</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/kanji/5">
                                                                    <img src="../../img/kanjin5/topic/7.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="mb-lesson mb-lesson-total">
                                                                    <span>Lesson 6</span>
                                                            </div>
                                                            <div class="mb-center">
                                                                <a href="#/{{degree}}/kanji/6">
                                                                    <img src="../../img/kanjin5/topic/7.png" alt="total {{key*3+value}}" class="img-responsive mb-total-image">
                                                                </a>
                                                            </div>
                                                            <div class="progress mb-progress-total">
                                                                <div class="progress-bar progress-bar-total progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"/>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                        </table>
                    </div>
                </div>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</div>