<ion-content class='center'>
    <div class="row">
        <div class="col">
            <a href="#/{{course}}/total/{{lessonId}}/{{subtopic}}/learn">
            	Learn
            </a>
        </div>
        <div class="col">

            <a href="#/{{course}}/total/{{lessonId}}/{{subtopic}}/picture">
            	Picture
            </a>
        </div>
        <div class="col">
            <a href="#/{{course}}/total/{{lessonId}}/{{subtopic}}/word">
            Word
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#/{{course}}/total/{{lessonId}}/{{subtopic}}/write">
            Listen
            </a>
        </div>
        <div class="col">
            <a href="#/{{course}}/total/{{lessonId}}/{{subtopic}}/connect">
            Connect
            </a>
        </div>
    </div>
</ion-content>
