<div id="wordWizard" class="swMain" akirawizard enablestep="false">
    <!-- Step navigator -->
    <ul class="hide">
        <li ng-repeat="(key, value) in data">
            <a ng-href="#step-{{key}}" click="partId={{key}}">
                <label class="stepNumber">
                    <span>&nbsp;{{key}}</span>
                </label>
            </a>
        </li>
    </ul>

    <!-- Life wrapper -->
    <akrlife ret="../../view/kanji" progress="{{step/data.length*100}}" life="{{gameObject.life}}"></akrlife>

    <!-- Step content -->
    <div ng-repeat="(key,val) in data" id="step-{{key}}">
        <div class="wrapper">
            <div class="row" style="text-align:center;">
                <div class="col">
                    <!-- Question wrapper -->
                    <div id="question-wrapper">
                        <img src="../../data/kanji{{degree}}/image/{{val.filename}}.png" class="img-thumbnail">
                        <h3>{{val.vietnamese}}</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- User answer wrapper -->
                    <div id="user-input-wrapper">
                        <div id="{{key}}">
                            <div class="row">
                                <div class="col">
                                    <span class="first" ng-class="{'actived': 49==keyCode}"></span>
                                    <audio controls id="choices-{{key}}-0" style="display:none;">
                                        <source type="audio/mpeg">
                                            Your browser does not support the audio element.</source>
                                    </audio>
                                    <span ng-click="keyPress(49)" class="form-control" ng-class="{'selected': 49==keyCode}">{{choices2[key][0].kanji}}</span>
                                </div>
                                <div class="col">
                                    <span class="second" ng-class="{'actived': 50==keyCode}"></span>
                                    <audio controls id="choices-{{key}}-1" style="display:none;">
                                        <source type="audio/mpeg">
                                            Your browser does not support the audio element.</source>
                                    </audio>
                                    <span ng-click="keyPress(50)" class="form-control" ng-class="{'selected': 50==keyCode}">{{choices2[key][1].kanji}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="third" ng-class="{'actived': 51==keyCode}"></span>
                                    <audio controls id="choices-{{key}}-2" style="display:none;">
                                        <source type="audio/mpeg">
                                            Your browser does not support the audio element.</source>
                                    </audio>
                                    <span ng-click="keyPress(51)" class="form-control" ng-class="{'selected': 51==keyCode}">{{choices2[key][2].kanji}}</span>
                                </div>
                                <div class="col">
                                    <span class="fourth" ng-class="{'actived': 51==keyCode}"></span>
                                    <audio controls id="choices-{{key}}-3" style="display:none;">
                                        <source type="audio/mpeg">
                                            Your browser does not support the audio element.</source>
                                    </audio>
                                    <span ng-click="keyPress(51)" class="form-control" ng-class="{'selected': 51==keyCode}">{{choices2[key][2].kanji}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Correct answer wrapper -->
            <div id="correct-answer-wrapper">
                <div class="row hide">
                    <div class="col" ng-bind="val.kanji">
                    </div>
                </div>
            </div>

            <!-- Custom navigation wrapper-->
            <div id="aki-answer-wrapper" ng-class="{'check' : 1 == stage}">
                <div class="row">
                    <div class="col">
                        <div class="row hide" id="mess-{{key}}">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <span class="correct-child">
                                    <span class="test-circle"></span>
                                </span>
                                <span class="failed-child">
                                    <i class="fa fa-times fa-4x"></i>
                                </span>
                                <span class="hint">{{val.hiragana}}</span>
                                <span class="hint">{{val.kanji}}</span>
                                <span class="hint">{{val.vietnamese}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div ng-switch on="stage">
                            <div ng-switch-when="0">
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                            <div ng-switch-when="1">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.check" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-when="2">
                                <button type="button" class="akr-btn akr-btn-check" data-i18n="common.next" ng-click="enterPress()">
                                </button>
                            </div>
                            <div ng-switch-default>
                                <button type="button" class="akr-btn akr-btn-init" data-i18n="common.check">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).keydown(function(e) {
    if (13 == e.keyCode) {
        angular.element("#wordWizard").scope().enterPress();
    } else if ([49, 50, 51].indexOf(e.keyCode) != -1) {
        angular.element("#wordWizard").scope().keyPress(e.keyCode);
    }
    changeLang();
});
</script>
