        <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <title>Total N5</title>

        <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
        <link rel="stylesheet" type="text/css" href="../../css/fontawesome/css/font-awesome.min.css" /> 
        <link rel="stylesheet" type="text/css" href="../../css/index.css" />

        <script type="text/javascript" src="../../js/index.js"></script>
        <script type="text/javascript" src="../../spec/lib/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../../spec/lib/angular.min.js"></script>
        <script type="text/javascript" src="../../spec/lib/angular-route.min.js"></script>

        <script type="text/javascript" src="../../spec/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="../../spec/lib/jquery.smartWizard.js"></script>
        <script src="../../spec/lib/i18next/i18next-1.7.4.js"></script>
        <style type="text/css" media="screen">
             /* #left-sidebar,#right-sidebar{
                   display: none;
               }     */ 
        </style>
    </head>
    <body>
        <div class="app row" id="dashboard">
            <div id="left-sidebar"class="col-md-3">
                <div id="site-lang">
                    <span id="vi">                    
                    </span>
                    <span id="en">                    
                    </span>
                </div>
                <div id="logo">
                  <img src="../../img/logo.png" alt="akira-logo" class="img-responsive" />
                </div>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" data-i18n="menu.japanese-n5">
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <ul>
                            <li>
                                <a href="../kana" data-i18n="menu.kana"></a>
                            </li>
                            <li>
                                <a href="../totaln5" data-i18n="menu.total-n5"></a>
                            </li>
                            <li>
                                <a href="../kanjin5" data-i18n="menu.kanji-n5"></a>
                            </li>
                            <li>
                                <a href="../testn5" data-i18n="menu.test-n5"></a>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" data-i18n="menu.japanese-n4">
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                         <ul>
                            <li>
                                <a href="../totaln4" data-i18n="menu.total-n4"></a>
                            </li>
                            <li>
                                <a href="../kanjin4" data-i18n="menu.kanji-n4"></a>
                            </li>
                            <li>
                                <a href="../testn4" data-i18n="menu.test-n4"></a>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" data-i18n="menu.mobi">                          
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul>
                            <li>
                                <a href="../android" data-i18n="menu.android"></a>
                            </li>
                            <li>
                               <a href="../ios" data-i18n="menu.ios"></a>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="social">
                  <div class="fb">
                    <i class="fa fa-facebook fa-3x"></i>
                  </div>
                  <div class="gg">
                    <i class="fa fa-google-plus fa-3x"></i>
                  </div>
                </div>
            </div>
            <div id="content" class="col-md-6">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a href="http://bit.ly/KanjiN5-IOS">
                            <img src="../../img/apps/japanese-n5-ios.png" alt="Japanese for iOS"  />
                        </a>
                    </div> 
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a href="http://bit.ly/KanjiN5-IOS">
                            <img src="../../img/apps/kanji-n5-ios.png" alt="Kanji for iOS"  />
                        </a>
                    </div> 
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <a href="http://bit.ly/KanjiN5-IOS">
                            <img src="../../img/apps/elight-ios.png" alt="Elight for iOS"  />
                        </a>
                    </div> 
                </div>
            </div>
            <div id="right-sidebar" class="col-md-3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-sm-12">
                        Profile overview
                    </div>
                </div>
                
            </div>

        </div>
        
     
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
