<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>Total N5</title>

    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/smart_wizard.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />

    <script type="text/javascript" src="../../spec/lib/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="../../spec/lib/angular.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../spec/lib/jquery.smartWizard.js"></script>
    <script src="../../spec/lib/i18next/i18next-1.7.4.js"></script>

    <script type="text/javascript" src="../../js/controllers/sharedCtrl.js"></script>
    <script type="text/javascript" src="../../js/directives/sharedDirective.js"></script>
    <script type="text/javascript" src="../../js/iOSApp.js"></script>

    <script type="text/javascript" src="../../js/index.js"></script>

</head>

<body>
    <div class="app container-full-height container-fluid" id="dashboard">
        <div class="row row-full-height">
            <div class="col-md-2 hidden-sm hidden-xs col-full-height" style="padding-left:0px;">
                <div id="left-sidebar" ng-include src="'../../view/_shared/menu.html'" ng-controller="menuCtrl" onload="navgroup=3;nav=1">
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-7 col-full-height">
                <div id="content">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="http://bit.ly/KanjiN5-IOS">
                                <img src="../../img/apps/japanese-n5-ios.png" alt="Japanese for iOS" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="http://bit.ly/KanjiN5-IOS">
                                <img src="../../img/apps/kanji-n5-ios.png" alt="Kanji for iOS" class="img-responsive" />
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <a href="http://bit.ly/KanjiN5-IOS">
                                <img src="../../img/apps/elight-ios.png" alt="Elight for iOS" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 col-full-height">
                <div id="right-sidebar">
                    <!-- Custom Akira profile directive -->
                    <akrprofile></akrprofile>

                    <!-- Custom Akira leaderboard directive -->
                    <akrleaderboard></akrleaderboard>
                </div>
            </div>
        </div>

    </div>


    <script type="text/javascript">
    // var androidApp = angular.module("android", ['commonCtrls', 'akrSharedDirectives']);
    angular.bootstrap(document, ['mobileRoot']);
    app.initialize();
    changelange();
    </script>
</body>

</html>
